{% extends 'base.html' %}

{% block title %}{% if form.instance.pk %}Editar{% else %}Crear{% endif %} {% block form_title %}{% endblock %}{% endblock %}

{% block content %}
<h1>{% if form.instance.pk %}Editar{% else %}Crear{% endif %} {% block form_heading %}{% endblock %}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'GVS:entrevistador_list' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}